(
    name: "gravelrock",
    base_color: Some("base_color.png"),
    normal: Some("normal.png"),
    metallic_roughness: Some("metallic_roughness.png"),
    occlusion: Some("occlusion.png"),
    emissive: None,
    perceptual_roughness: 0.5,
    metallic: 0.0,
    emissive_is_textured: false,
)